{% extends 'layout.html' %}
{% load bootstrap3 %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block page_title %}edit_post.html{% endblock %}</title>
</head>

<body>
{% block body %}
    <form method="POST" action="">
        {% csrf_token %}
        {# {{ form.as_p }} #}
        {% bootstrap_form form %}

        <p>
            <button type="submit" class="btn btn-primary">{% bootstrap_icon "ok" %} 저장</button>
        </p>
    </form>
{% endblock %}
</body>
</html>