{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block page_title %}글 목록 페이지{% endblock %}

{% block body %}
<div>
    <h1>사진 목록</h1>

    {% for post in posts %}
    <div class="photo_container">
        <p><a href="{% url 'photos:view' pk=post.pk %}"> No. {{ post.pk }}</a></p>
        <p>{{ post.content }}</p>
        <p>{{ post.created_at }}</p>
    </div>
    {% empty %}
    <p>게시물이 없습니다.</p>
    {% endfor %}
    {% bootstrap_pagination page_obj %}

</div>

        <p><a href="{% url 'logout_url'}"> 로그아웃 </a></p>
{% endblock %}

