{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block page_title %}글 보기{% endblock %}

{% block body %}

<h3>{{ post.pk }}번 사진</h3>

{% if post.image %}
<p><img src="{{ post.image.url }}" /></p>
{% endif %}


<div><p>Category = {{ post.category }}</p></div>
<div><p>Content = {{ post.content }}</p></div>
<div><p>User = {{ post.user }}</p></div>

<p>Created at = {{ post.created_at }}</p>

{% for comment in post.comment_set.all %}
    <div>
        <p>{{ comment.pk }}</p>
        <p>{{ comment.content }}</p>
        <form method="POST" action="{% url 'photos:delete_comment' pk=comment.pk %}">
            {% csrf_token %}
            <button type="submit">댓글 삭제</button>
        </form>
    </div>
{% empty %}
    <p>댓글이 없습니다.</p>
{% endfor %}

<form method="POST" action="">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <p>
        <button type="submit" class="btn btn-primary btn-lg">
            {% bootstrap_icon "star" %} 저장</button>
    </p>
</form>


{% endblock %}


